header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;  
}
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color:khaki;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: aliceblue;
}
h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    color: aliceblue;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    color: aliceblue; 
}
a {
    text-align: center;
    size: 2px;
}

h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.dr {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.marco {
    width: 50%;
    padding: 10px;
    margin: 10px;
    border: 10px;
    box-shadow: -1px 1px 7px 0px rgb(16, 17, 17);
    display: block;
}
.caja{
    display:inline-block;
    padding-block-start: 20px;
    margin-left: 130px;
    font-size: 20px;
}
#casas {
    transition-delay: 3s;
    margin: 5px auto;
    display: block;
    width: 55%;
    box-shadow: -1px 1px 7px 0px rgb(16, 17, 17);
    padding: 8px;
}

#casasg {
    margin: 5px auto;
    display: block;
    width: 30%;
    box-shadow: -1px 1px 7px 0px rgb(16, 17, 17);
    padding: 8px;
    float: right;
}

#casass {
    margin: 3px;
    width: 22%;
    box-shadow: -1px 1px 7px 0px rgb(16, 17, 17);
    padding: 7px;
}

#casasc {
    margin: 8px;
    width: 23%;
    box-shadow: -1px 1px 7px 0px rgb(16, 17, 17);
    padding: 3px;
    
}
#logoscryto {
    width: 7%;
    margin: 15px;
}
#logoscryto:hover{
   border: .1px solid;
   box-shadow: 2px;
}
#logos {
    width: 7%;
    margin: 20px;
    
}

#btc {
    width: 100%;
    position: relative;
    border-style: groove;
}
#graficaser{
padding-left: 25%;
}
main {
    text-align: center;
}

.centrado {
    text-align: center;
}

.izq {
    text-align: left;
}

.der {
    text-align: right;
}

.navsup {
    size: 15%;
    margin: auto;
    box-shadow: -1px 1px 7px 0px rgb(16, 17, 17);
    border-radius: 3px;
    padding: 2px;
    text-decoration-color: rgb(93, 102, 102);
    color: beige;
}

.blok1 {
    width: 100%;
    border: 1px solid rgb(19, 17, 17);
    box-shadow: -1px 1px 7px 0px;
    border-radius: 3px;

}

.blok1-centrado {
    margin: 1%;
    grid-area: article;
    border: 1px solid rgb(19, 17, 17);
    box-shadow: -1px 1px 7px 0px;
    border-radius: 3px;
    padding: 12%;
}

.blok2 {
    width: 100%;
    border: 1px solid rgb(155, 19, 19);
    box-shadow: -1px 1px 7px 0px;
    border-radius: 3px;
}
.porc{
    font-family: fantasy;
    color: darkgoldenrod;
    padding-left: 25%;
   font-size: 3em; 
}
footer {
    align-items: center;
    text-align: center;
}