header{
    font-family: 'Orelega One', cursive;
    background-color: rgb(0, 255, 255);
}
h1,h2{
    text-align: center;  
}
#casas{
    width: 22%;
}
footer{
    text-align: center;
    background-color: rgb(0, 119, 255);   
}
main{
    text-align: center;  
}
.centrado{
    text-align: center;
}
.izq{
    text-align: left;
}
.der{
    text-align: right;
}
.navsup{
    text-decoration: none;/*sacar el subrayado*/
    background-color: rgb(202, 224, 228);
    margin: 4px;
    border: 2px solid white;
    padding: 3px;
}
 